.heading{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color:red;
  margin: 0;
}

.loading{
  text-align: center;
  font-size: 10rem;
}

button{
  text-align: center;
  border-radius: 5px;
  font-size:1rem;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: crimson;
  color: white;
}